<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>controller.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WeeklyTimeTableServlet</servlet-name>
        <servlet-class>controller.WeeklyTimeTableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectTimeTable</servlet-name>
        <servlet-class>controller.SubjectTimeTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceSertvlet</servlet-name>
        <servlet-class>controller.StudentAttendanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeachingScheduleServlet</servlet-name>
        <servlet-class>controller.TeachingScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherAttandeceServlet</servlet-name>
        <servlet-class>controller.TeacherAttandeceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportAttendance</servlet-name>
        <servlet-class>controller.ReportAttendance</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WeeklyTimeTableServlet</servlet-name>
        <url-pattern>/weeklytime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectTimeTable</servlet-name>
        <url-pattern>/subjecttime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceSertvlet</servlet-name>
        <url-pattern>/attendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeachingScheduleServlet</servlet-name>
        <url-pattern>/teaching</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherAttandeceServlet</servlet-name>
        <url-pattern>/teacherattendace</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportAttendance</servlet-name>
        <url-pattern>/report</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
